.title{
    text-align: center;
    color: white;
    font-size: 6vw;
    letter-spacing: 5px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}

.center {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}