.btn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid lightblue;
    text-align: 0 auto;
    border-radius: 5px;
    font-size: medium;
    transition-duration: 0.4s;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: white;
    color: #072e4b;
    border: 2px solid white;
}